openapi: 3.1.0
info:
    title: Patreon Internal API
    version: 1.0.0
servers:
    - url: https://www.patreon.com/api
paths:
    /posts:
        get:
            summary: Get posts
            parameters:
                - name: include
                  in: query
                  schema:
                      type: array
                      items:
                          $ref: "#/components/schemas/Include"
                  explode: false
                - name: fields
                  in: query
                  style: deepObject
                  schema:
                      type: object
                      additionalProperties: false
                      properties:
                          access_rule:
                              type: array
                              items:
                                  $ref: "#/components/schemas/AccessRuleField"
                          campaign:
                              type: array
                              items:
                                  $ref: "#/components/schemas/CampaignField"
                          content-unlock-option:
                              type: array
                              items:
                                  $ref: "#/components/schemas/ContentUnlockOptionField"
                          livestream:
                              type: array
                              items:
                                  $ref: "#/components/schemas/LivestreamField"
                          media:
                              type: array
                              items:
                                  $ref: "#/components/schemas/MediaField"
                          post:
                              type: array
                              items:
                                  $ref: "#/components/schemas/PostField"
                          post_tag:
                              type: array
                              items:
                                  $ref: "#/components/schemas/PostTagField"
                          productvariant:
                              type: array
                              items:
                                  $ref: "#/components/schemas/ProductVariantField"
                          user:
                              type: array
                              items:
                                  $ref: "#/components/schemas/UserField"
                  explode: false
                - name: filter
                  in: query
                  style: deepObject
                  schema:
                      type: object
                      additionalProperties: false
                      properties:
                          campaign_id:
                              type: integer
                          contains_exclusive_posts:
                              type: boolean
                          is_draft:
                              type: boolean
                          include_lives:
                              type: boolean
                          include_drops:
                              type: boolean
                          accessible_by_user_id:
                              type: integer
                          collection_ids:
                              type: array
                              items:
                                  type: integer
                          media_types:
                              type: array
                              items:
                                  $ref: "#/components/schemas/MediaType"
                  explode: false
                - name: sort
                  in: query
                  schema:
                      $ref: "#/components/schemas/Sort"
                - name: page
                  in: query
                  style: deepObject
                  schema:
                      type: object
                      additionalProperties: false
                      properties:
                          cursor:
                              type: string
                  explode: false
                - name: json-api-use-default-includes
                  in: query
                  schema:
                      type: boolean
                      enum:
                          - false
                - name: json-api-version
                  in: query
                  schema:
                      type: string
                      enum:
                          - "1.0"
            responses:
                "200":
                    description: 200 response
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PostsPage"
components:
    schemas:
        AccessRuleField:
            type: string
            enum:
                - access_rule_type
                - amount_cents
        AverageColorsOfCorners:
            type: object
            additionalProperties: false
            properties:
                bottom_left:
                    type: string
                bottom_right:
                    type: string
                top_left:
                    type: string
                top_right:
                    type: string
            required:
                - bottom_left
                - bottom_right
                - top_left
                - top_right
        CampaignField:
            type: string
            enum:
                - currency
                - show_audio_post_download_links
                - avatar_photo_url
                - avatar_photo_image_urls
                - is_nsfw
                - is_monthly
                - name
                - url
                - patron_count
                - primary_theme_color
        ContentUnlockOptionField:
            type: string
            enum:
                - content_unlock_type
                - is_current_user_eligible
                - reward_benefit_categories
        Embed:
            type: object
            additionalProperties: false
            properties:
                description:
                    type: string
                    nullable: true
                html:
                    type: string
                    nullable: true
                provider:
                    type: string
                provider_url:
                    type: string
                subject:
                    type: string
                url:
                    type: string
                    format: uri
                linked_object_id:
                    type: string
                    nullable: true
                linked_object_type:
                    type: string
                    nullable: true
                product_variant_id:
                    type: string
                    nullable: true
            required:
                - provider
                - provider_url
                - subject
                - url
                - linked_object_id
                - linked_object_type
                - product_variant_id
        IdAndType:
            type: object
            additionalProperties: false
            properties:
                id:
                    type: string
                type:
                    type: string
            required:
                - id
                - type
        Image:
            type: object
            additionalProperties: false
            properties:
                height:
                    type: integer
                    nullable: true
                large_url:
                    type: string
                    format: uri
                thumb_square_large_url:
                    type: string
                    format: uri
                thumb_square_url:
                    type: string
                    format: uri
                thumb_url:
                    type: string
                    format: uri
                url:
                    type: string
                    format: uri
                width:
                    type: integer
                    nullable: true
            required:
                - url
        ImageColors:
            type: object
            additionalProperties: false
            properties:
                average_colors_of_corners:
                    $ref: "#/components/schemas/AverageColorsOfCorners"
                dominant_color:
                    type: string
                palette:
                    type: array
                    items:
                        type: string
                text_color:
                    type: string
            required:
                - average_colors_of_corners
                - dominant_color
                - palette
                - text_color
        ImageUrls:
            type: object
            additionalProperties: false
            properties:
            default:
                type: string
                format: uri
            default_blurred:
                type: string
                format: uri
            default_blurred_small:
                type: string
                format: uri
            default_large:
                type: string
                format: uri
            default_small:
                type: string
                format: uri
            original:
                type: string
                format: uri
            thumbnail:
                type: string
                format: uri
            thumbnail_large:
                type: string
                format: uri
            thumbnail_small:
                type: string
                format: uri
            url:
                type: string
                format: uri
            required:
                - default_small
                - thumbnail
                - url
        Include:
            type: string
            enum:
                - access_rules
                - access_rules.tier
                - access_rules.tier.null
                - attachments_media
                - audio
                - audio_preview.null
                - authors
                - authors.avatar
                - authors.community_profile
                - campaign
                - content_unlock_options.product_variant.collection.null
                - content_unlock_options.product_variant.null
                - content_unlock_options.reward.null
                - custom_thumbnail_media.null
                - drop
                - images
                - livestream
                - livestream.display
                - livestream.state
                - media
                - native_video_insights
                - poll.choices
                - poll.current_user_responses.choice
                - poll.current_user_responses.poll
                - poll.current_user_responses.user
                - post_new_comment_identity
                - post_new_comment_identity.avatar
                - post_new_comment_identity.community_profile
                - post_new_comment_identity.identity_badges
                - primary_image
                - rss_synced_feed
                - shows.null
                - user
                - user_defined_tags
                - video.null
        Included:
            oneOf:
                - $ref: "#/components/schemas/IncludedMedia"
                - $ref: "#/components/schemas/IncludedPostTag"
                - $ref: "#/components/schemas/IncludedPostAccessRule"
                - $ref: "#/components/schemas/IncludedContentUnlockOption"
                - $ref: "#/components/schemas/IncludedReward"
                - $ref: "#/components/schemas/IncludedProductVariant"
        IncludedContentUnlockOption:
            oneOf:
                - $ref: "#/components/schemas/UnlockOptionOneTimePayment"
                - $ref: "#/components/schemas/UnlockOptionPatron"
                - $ref: "#/components/schemas/UnlockOptionTier"
                - $ref: "#/components/schemas/UnlockOptionMinCentsPledged"
        Orientation:
            type: string
            enum:
                - landscape
                - portrait
        Variant:
            type: string
            enum:
                - audiogram_v1
                - audiogram_v2
        UnlockOptionOneTimePayment:
            type: object
            additionalProperties: false
            properties:
                id:
                    type: string
                    pattern: "^post_otp:"
                type:
                    type: string
                    const: content-unlock-option
            required:
                - id
                - type
        UnlockOptionPatron:
            type: object
            additionalProperties: false
            properties:
                id:
                    type: string
                    pattern: "^patrons:"
                type:
                    type: string
                    const: content-unlock-option
            required:
                - id
                - type
        UnlockOptionTier:
            type: object
            additionalProperties: false
            properties:
                id:
                    type: string
                    pattern: "^tier:"
                type:
                    type: string
                    const: content-unlock-option
            required:
                - id
                - type
        UnlockOptionMinCentsPledged:
            type: object
            additionalProperties: false
            properties:
                id:
                    type: string
                    pattern: "^min_cents_pledged:"
                type:
                    type: string
                    const: content-unlock-option
            required:
                - id
                - type
        IncludedMedia:
            type: object
            additionalProperties: false
            properties:
                id:
                    type: string
                type:
                    type: string
                    const: media
                attributes:
                    type: object
                    additionalProperties: false
                    properties:
                        display:
                            $ref: "#/components/schemas/PostFile"
                        download_url:
                            type: string
                            format: uri
                        file_name:
                            type: string
                            nullable: true
                        image_urls:
                            $ref: "#/components/schemas/ImageUrls"
                        metadata:
                            type: object
                            additionalProperties: false
                            properties:
                                variant:
                                    type: string
                                    $ref: "#/components/schemas/Variant"
                                orientation:
                                    $ref: "#/components/schemas/Orientation"
                                duration:
                                    type: number
                                duration_s:
                                    type: integer
                                video_preview_end_ms:
                                    type: "null"
                                audio_preview_duration:
                                    type: number
                                video_preview_start_ms:
                                    type: "null"
                                audio_preview_start_time:
                                    type: number
                                start_position:
                                    type: number
                                dimensions:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                        h:
                                            type: integer
                                        w:
                                            type: integer
                                    required:
                                        - w
                                        - h
                    required:
                        - display
                        - file_name
            required:
                - id
                - type
        IncludedPostAccessRule:
            type: object
            additionalProperties: false
            properties:
                id:
                    type: string
                type:
                    type: string
                    const: access-rule
                attributes:
                    type: object
                    additionalProperties: false
                    properties:
                        access_rule_type:
                            type: string
                        amount_cents:
                            type: integer
                            nullable: true
                        currency:
                            type: string
                        post_count:
                            type: integer
                    required:
                        - access_rule_type
                        - amount_cents
                        - currency
                        - post_count
                relationships:
                    type: object
                    additionalProperties: false
                    properties:
                        tier:
                            $ref: "#/components/schemas/ListOfIdAndType"
                    required:
                        - tier
            required:
                - id
                - type
                - attributes
                - relationships
        IncludedPostTag:
            type: object
            additionalProperties: false
            properties:
                id:
                    type: string
                type:
                    type: string
                    const: post_tag
                attributes:
                    type: object
                    additionalProperties: false
                    properties:
                        tag_type:
                            $ref: "#/components/schemas/TagType"
                        value:
                            type: string
                    required:
                        - tag_type
                        - value
            required:
                - id
                - type
                - attributes
        IncludedProductVariant:
            type: object
            additionalProperties: false
            properties:
                id:
                    type: string
                type:
                    type: string
                    const: product-variant
                attributes:
                    type: object
                    additionalProperties: false
            required:
                - id
                - type
                - attributes
        IncludedReward:
            type: object
            additionalProperties: false
            properties:
                id:
                    type: string
                type:
                    type: string
                    const: reward
                attributes:
                    $ref: "#/components/schemas/RewardAttributes"
            required:
                - id
                - type
                - attributes
        ListOfIdAndType:
            oneOf:
                - $ref: "#/components/schemas/NonEmptyListOfIdAndType"
                - $ref: "#/components/schemas/EmptyListOfIdAndType"
                - $ref: "#/components/schemas/SingleIdAndType"
        EmptyListOfIdAndType:
            type: object
            additionalProperties: false
            properties:
                data:
                    type: "null"
            required:
                - data
        NonEmptyListOfIdAndType:
            type: object
            additionalProperties: false
            properties:
                data:
                    type: array
                    items:
                        $ref: "#/components/schemas/IdAndType"
                links:
                    type: object
                    additionalProperties: false
                    properties:
                        related:
                            type: string
                            format: uri
                    required:
                        - related
            required:
                - data
        SingleIdAndType:
            type: object
            additionalProperties: false
            properties:
                data:
                    type: object
                    additionalProperties: false
                    properties:
                        id:
                            type: string
                        type:
                            type: string
                    required:
                        - id
                        - type
                    nullable: true
                links:
                    type: object
                    additionalProperties: false
                    properties:
                        related:
                            type: string
                            format: uri
                    required:
                        - related
            required:
                - data
        LivestreamField:
            type: string
            enum:
                - display
                - state
        MediaField:
            type: string
            enum:
                - display
                - download_url
                - file_name
                - id
                - image_urls
                - metadata
                - state
        MediaType:
            type: string
            enum:
                - audio
        Post:
            type: object
            additionalProperties: false
            properties:
                id:
                    type: string
                type:
                    $ref: "#/components/schemas/PostType"
                attributes:
                    $ref: "#/components/schemas/PostAttributes"
                relationships:
                    $ref: "#/components/schemas/PostRelationships"
            required:
                - id
                - type
                - attributes
                - relationships
        PostAttributes:
            type: object
            additionalProperties: false
            properties:
                content:
                    type: string
                created_at:
                    type: string
                    format: date-time
                embed:
                    $ref: "#/components/schemas/Embed"
                image:
                    $ref: "#/components/schemas/Image"
                meta_image_url:
                    type: string
                    format: uri
                patreon_url:
                    type: string
                pledge_url:
                    type: string
                    format: uri
                post_file:
                    $ref: "#/components/schemas/PostFile"
                post_metadata:
                    $ref: "#/components/schemas/PostMetadata"
                post_type:
                    $ref: "#/components/schemas/PostType"
                preview_asset_type:
                    type: string
                published_at:
                    type: string
                    format: date-time
                thumbnail:
                    $ref: "#/components/schemas/Thumbnail"
                title:
                    type: string
                    nullable: true
                url:
                    type: string
                    format: uri
                change_visibility_at:
                    type: string # TODO
                    nullable: true
                video_preview:
                    type: string # TODO
                    nullable: true
            required:
                - change_visibility_at
                - created_at
                - meta_image_url
                - patreon_url
                - pledge_url
                - post_type
                - published_at
                - title
                - url
                - video_preview
        PostFile:
            oneOf:
                - $ref: "#/components/schemas/PostAudioVideo"
                - $ref: "#/components/schemas/PostImage"
                - $ref: "#/components/schemas/PostSize"
        PostAudioVideo:
            type: object
            additionalProperties: false
            properties:
                default_thumbnail:
                    type: object
                    additionalProperties: false
                    properties:
                        url:
                            type: string
                            format: uri
                    required:
                        - url
                duration:
                    type: number
                full_content_duration:
                    type: number
                media_id:
                    type: integer
                state:
                    type: string
                url:
                    type: string
                    format: uri
                width:
                    type: integer
                height:
                    type: integer
                progress:
                    type: object
                    additionalProperties: false
                    properties:
                        is_watched:
                            type: boolean
                        watch_state:
                            $ref: "#/components/schemas/WatchState"
                    required:
                        - is_watched
                        - watch_state
                closed_captions_enabled:
                    type: integer
                video_issues:
                    type: integer
                expires_at:
                    type: integer
                viewer_playback_data:
                    type: integer
                storyboard:
                    type: integer
                transcript_url:
                    type: integer
            required:
                - media_id
                - state
        PostImage:
            type: object
            additionalProperties: false
            properties:
                height:
                    type: integer
                image_colors:
                    $ref: "#/components/schemas/ImageColors"
                media_id:
                    type: integer
                state:
                    type: string
                url:
                    type: string
                    format: uri
                width:
                    type: integer
                alt_text:
                    type: string
            required:
                - height
                - image_colors
                - media_id
                - state
                - width
        PostSize:
            type: object
            additionalProperties: false
            properties:
                height:
                    type: integer
                width:
                    type: integer
            required:
                - height
                - width
        PostMetadata:
            oneOf:
                - $ref: "#/components/schemas/PostMetadataImageOrder"
                - $ref: "#/components/schemas/PostMetadataPodcast"
                - $ref: "#/components/schemas/PostMetadataOther"
        PostMetadataImageOrder:
            type: object
            additionalProperties: false
            properties:
                image_order:
                    type: array
                    items:
                        type: string
            required:
                - image_order
        PostMetadataOther:
            type: object
            additionalProperties: false
            properties:
                platform:
                    type: object
                    additionalProperties: false
                send_notifications:
                    type: object
                    additionalProperties: false
        PostMetadataPodcast:
            type: object
            additionalProperties: false
            properties:
                episode_number:
                    type: integer
                season:
                    type: integer
            required:
                - episode_number
                - season
        PostsPage:
            type: object
            additionalProperties: false
            properties:
                data:
                    type: array
                    items:
                        $ref: "#/components/schemas/Post"
                included:
                    type: array
                    items:
                        $ref: "#/components/schemas/Included"
                meta:
                    type: object
                    additionalProperties: false
                    properties:
                        pagination:
                            type: object
                            additionalProperties: false
                            properties:
                                cursors:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                        next:
                                            type: string
                                            nullable: true
                                    required:
                                        - next
                            required:
                                - cursors
                    required:
                        - pagination
            required:
                - data
                - meta
        PostField:
            type: string
            enum:
                - attachments_preview_metadata
                - authors
                - change_visibility_at
                - cleaned_teaser_text
                - comment_count
                - commenter_count
                - content
                - content_json_string
                - content_teaser_text
                - content_unlock_options
                - created_at
                - current_user_can_comment
                - current_user_can_delete
                - current_user_can_edit
                - current_user_can_report
                - current_user_can_view
                - current_user_comment_disallowed_reason
                - current_user_has_liked
                - current_user_has_reshared
                - edited_at
                - embed
                - has_custom_thumbnail
                - has_ti_violation
                - image
                - insights_last_updated_at
                - is_fan_giftable
                - is_new_to_current_user
                - is_paid
                - is_preview_blurred
                - like_count
                - meta_image_url
                - min_cents_pledged_to_view
                - moderation_status
                - monetization_ineligibility_reason
                - patreon_url
                - pledge_url
                - pls_one_liners_by_category
                - post_file
                - post_level_suspension_removal_date
                - post_metadata
                - post_type
                - preview_asset_type
                - published_at
                - reshare_count
                - teaser_text_json_string
                - thumbnail
                - thumbnail_url
                - title
                - upgrade_url
                - url
                - video
                - video_preview
                - view_count
                - was_posted_by_campaign_owner
                - watch_state
        PostRelationships:
            type: object
            additionalProperties: false
            properties:
                access_rules:
                    $ref: "#/components/schemas/ListOfIdAndType"
                attachments_media:
                    $ref: "#/components/schemas/ListOfIdAndType"
                audio:
                    $ref: "#/components/schemas/ListOfIdAndType"
                audio_preview:
                    $ref: "#/components/schemas/ListOfIdAndType"
                images:
                    $ref: "#/components/schemas/ListOfIdAndType"
                video:
                    $ref: "#/components/schemas/ListOfIdAndType"
                media:
                    $ref: "#/components/schemas/ListOfIdAndType"
                user_defined_tags:
                    $ref: "#/components/schemas/ListOfIdAndType"
                content_unlock_options:
                    $ref: "#/components/schemas/ListOfIdAndType"
            required:
                - access_rules
        PostTagField:
            type: string
            enum:
                - tag_type
                - value
        PostType:
            type: string
            enum:
                - post
                - podcast
                - livestream_youtube
                - text_only
                - image_file
                - link
                - video_embed
                - video_external_file
                - poll
                - livestream_crowdcast
                - audio_embed
                - audio_file
        ProductVariantField:
            type: string
            enum:
                - access_metadata
                - checkout_url
                - content_type
                - currency_code
                - is_hidden
                - live_sale_discounted_price_info
                - orders_count
                - price_cents
                - published_at_datetime
        RewardAttributes:
            type: object
            additionalProperties: false
            properties:
                amount:
                    type: integer
                amount_cents:
                    type: integer
                created_at:
                    type: string
                    format: date-time
                currency:
                    type: string
                declined_patron_count:
                    type: integer
                description:
                    type: string
                discord_role_ids:
                    type: array
                    items:
                        type: string
                    nullable: true
                edited_at:
                    type: string
                image_url:
                    type: string
                    nullable: true
                is_free_tier:
                    type: boolean
                patron_amount_cents:
                    type: integer
                patron_currency:
                    type: string
                post_count:
                    type: integer
                published:
                    type: boolean
                published_at:
                    type: string
                    format: date-time
                remaining:
                    type: integer
                    nullable: true
                requires_shipping:
                    type: boolean
                title:
                    type: string
                unpublished_at:
                    type: string
                    format: date-time
                    nullable: true
                url:
                    type: string
                welcome_message:
                    type: string
                welcome_message_unsafe:
                    type: string
                    nullable: true
                welcome_video_embed:
                    type: string
                    nullable: true
                welcome_video_url:
                    type: string
                    nullable: true
            required:
                - amount
                - amount_cents
                - created_at
                - currency
                - description
                - discord_role_ids
                - edited_at
                - image_url
                - is_free_tier
                - patron_amount_cents
                - patron_currency
                - post_count
                - published
                - published_at
                - remaining
                - requires_shipping
                - title
                - unpublished_at
                - url
        Sort:
            type: string
            enum:
                - "published_at"
                - "-published_at"
        TagType:
            type: string
            enum:
                - user_defined
        Thumbnail:
            oneOf:
                - $ref: "#/components/schemas/ThumbnailGif"
                - $ref: "#/components/schemas/ThumbnailSquare"
        ThumbnailGif:
            type: object
            additionalProperties: false
            properties:
                gif_url:
                    type: string
                    format: uri
                height:
                    type: integer
                url:
                    type: string
                    format: uri
                width:
                    type: integer
            required:
                - gif_url
                - height
                - url
                - width
        ThumbnailSquare:
            type: object
            additionalProperties: false
            properties:
                original:
                    type: string
                    format: uri
                default:
                    type: string
                    format: uri
                default_blurred:
                    type: string
                    format: uri
                default_small:
                    type: string
                    format: uri
                default_large:
                    type: string
                    format: uri
                default_blurred_small:
                    type: string
                    format: uri
                thumbnail:
                    type: string
                    format: uri
                thumbnail_large:
                    type: string
                    format: uri
                thumbnail_small:
                    type: string
                    format: uri
                url:
                    type: string
                    format: uri
                height:
                    type: integer
                    # pattern: "^\\d+$"
                width:
                    type: integer
                    # pattern: "^\\d+$"
            required:
                - original
                - default
                - default_blurred
                - default_small
                - default_large
                - default_blurred_small
                - thumbnail
                - thumbnail_large
                - thumbnail_small
                - url
        UserField:
            type: string
            enum:
                - full_name
                - image_url
                - url
        WatchState:
            type: string
            enum:
                - is_not_watched
